*{
    margin: 0;
    padding: 0;
 
}
 
body{
    background-color: brown;
    color: chartreuse;
    text-align: center;
}
h3{
    text-align: center;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
    text-align: start;
}
 

 
#resultado{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    float: right;
 
}
 
